.customform
{
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    font-size:14px;
    width: 100%;
    background: white;
    -moz-box-shadow: 3px 3px 3px #ececec;
    -webkit-box-shadow: 3px 3px 3px #ececec;
    box-shadow: 3px 3px 3px #ececec;
    border-spacing: 0px !important;
    border-collapse: collapse;
    margin-top: 2px;
    border: 1px solid #808080;
}

.customform .formtitle
{
    position: relative;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: #FFF;
    background: #A5A5A5;
    border-radius: 3px 3px 3px 3px;
    font-family: 'Open Sans';
}

.customform td.sectiontitle
{
    position: relative;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: #FFF;
    background: #A5A5A5;
    border-radius: 2px 2px 2px 2px;
    font-family: 'Open Sans';
    border:0;
}

.customform .formfield
{
    background: #F5EBDD;
    border: 1px solid #A0A0A0;
    border-radius: 2px 2px 2px 2px;
    height: 24px;
    z-index: 1;
    display: block;
    padding: 4px;
}

.customform tr.oddrow
{
    background: whiteSmoke;
}

.customform td
{
    padding: 4px;
}

.customform tbody.formdata td
{
    padding: 4px;
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
}

.formdata h1
{
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
}