<!--[main]-->
<table class="table">
    <thead>
        <tr>
            
        </tr>
    </thead>
    <tbody class="formdata">
        <tr scope='row'>
            <td style="padding: 20px; text-align: center; width: 900px;" class="img-wellcome">
                <h1 style="font-size: 40px; color: azure;">
                    TECNOLOGIA E SOLUÇÕES CUSTOMIZADAS 
                    QUE POTENCIALIZAM O SEU NEGÓCIO
                </h1>       
                
            </td>
        </tr>
        </body>
</table>
<br>

<!--[/main]-->