body
{
    color: #333333;
    background: #8C8C8C;
    font-family: "Open Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 10pt;
    line-height: 1;
    padding: 30px;
}

img
{
    border: 0;
}


#menuDiv
{
    width: 100%;
}

.tbreadcrumb li span
{
    font-family: 'Open Sans';
    font-size: 10pt;
}

.adianti_container
{
    margin: auto;
    margin-top: 10px;
    width: 90%;
    min-height: 570px;
    display: block;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    background: #FFFFFF;
    height: auto;
    float: center;
    text-align: center;
    text-align: left;
    padding-bottom: 100px;
}

.adianti_container .header_content
{
    float: left;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 3px;
}

.adianti_container .header_content .logo1 a
{
    text-decoration: none;
}

.adianti_container .header_content .logo1
{
    margin-top:12px;
    margin-bottom:12px;
    padding-left: 2%;
    float: left;
    text-align: left;
    font-size:17pt;
}

.adianti_container .header_content .logo2
{
    padding-right: 2%;
    float: right;
    text-align: right;
}

.adianti_container .header .header_bottom
{
    height: 2px;
    margin-top: 50px;
    background-color: #CACFD5;
}

.body .content .img-wellcome
{
    padding: 20px;
    background-image: url('images/man-notebook-notes-macbook.jpg');
    background-size: auto 1000px;
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
}

.adianti_container .header
{
    background: #FFFFFF;
    border-bottom: 2px solid #555555;
}



input, textarea
{
    border-radius: 3px 3px 3px 3px;
}

.clear
{
    clear: both;
}

.title
{
    font-family: sans-serif,arial,verdana;
    color: #FFFFFF;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 19pt;
    color: #FFF;
    display: block;
    background: #CFCFCF;
    text-shadow: 1px 2px 2px #4C4C4C;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
}

.welcome
{
    float: right;
    text-align: right;
}

.welcome span
{
    color: #B89713;
    font-weight: bold;
}

.tutor-navbar
{
    *position: relative;
    *z-index: 2;
    overflow: visible;
    color: #777777;
    margin-bottom: 0px;
    font-family: 'Open Sans';
}

.tutor-navbar-inner
{
    min-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
    background: whitesmoke;
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
    *zoom: 1;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.tutor-navbar-inner li>a
{
    color: #333;
    font-size: 14px;
}

.tutor-navbar .btn,
.tutor-navbar .btn-group
{
    margin-top: 3px;
}

@media only screen and (max-width: 768px) {
    .tutor-navbar > .tutor-navbar-inner > .navbar> .navbar-nav > li.active.open > .dropdown-toggle {
        background: rgb(93, 122, 237);
        color: white;
    }
}

.navbar-collapse
{
    padding-left: 0px;
}

a
{
    text-decoration: none;
}

.popover-table
{
    border: 1px solid #e0e0e0;
    border-collapse: collapse;
}

.popover-table td
{
    border: 1px solid #e0e0e0;
    padding: 10px;
}

.navbar-nav > li.active.open > .dropdown-toggle
{
    border-left: 1px solid rgba(0,0,0,0.15);
    border-right: 1px solid rgba(0,0,0,0.15);
    border-top: 1px solid rgba(0,0,0,0.15);
    border-bottom: 1px solid white;
    background: white;
    z-index: 2000;
    display: block;
    margin-bottom: -1px;
    margin-top: -1px;
}
.navbar-nav > li.active.open
{
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.175);
}


.sourcecodewrapper
{
    background: #262722;
    font-weight:bold;
    border-radius:3px;
    padding:8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.tsourcecode code
{
    font-family: Andale mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Lucida Console, Monaco, Consolas, Droid Sans monospace, Monospace;
    line-height: normal;
    background: #262722;
}

/* para screenshots
input, select, textarea, .panel-heading, .panel, .panel-footer {
    border-width: 1.5px !important;
    border-color: gray !important;
}
*/

.panel-default>.panel-heading
{
    border-top: 1px solid #3c8dbc;
    background: #f8f8f8;
    height: 52px !important;
    padding: 7px !important;
}

.fc .fc-toolbar h2 {
    font-family: 'Open Sans';
    font-size: 14pt;
    background: #DFE3FF;
    padding: 10px;
    margin-top: -5px;
    border-radius: 3px;
    border: 1px solid #BBB6FF;
}


input[type="radio"], input[type="checkbox"]
{
    margin-right: 4px !important;
}

.tcheckgroup_label, .tcheckgroup_label > input
{
    cursor:pointer;
}

span.tdate-group-addon > i.fa-clock-o, span.tdate-group-addon > i.glyphicon-calendar {
  width:24px !important;
  padding-top:0px;
}

input[widget="tslider"] {
    margin: auto;
}

input[widget="tspinner"] {
    border:0;
}

input[widget="tfile"], input[widget="tmultifile"] {
    padding-top: 2px;
}


.sourcecodewrapper
{
    background: #262722;
    font-weight:bold;
    border-radius:3px;
    padding:8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.tsourcecode code
{
    font-family: Andale mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Lucida Console, Monaco, Consolas, Droid Sans monospace, Monospace;
    line-height: normal;
    background: #262722;
}

.file-response-icon {
    position: absolute;
    padding-left: 3px;
    padding-top: 3px;
}

.fb-field-container:after {
    content: '';
    display: block;
    clear: both;
}



/* sign in FORM */
#logreg-forms{
    width:412px;
    margin:7vh auto;
    margin-bottom: 150px;
    background-color:#f3f3f3;
    box-shadow: 3px 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) ,  8px 1px 3px rgba(0,0,0,0.12) ,  5px 1px 3px rgba(0,0,0,0.12);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-bottom: 200px;
}
#logreg-forms form {
    width: 100%;
    max-width: 410px;
    padding: 15px;
    margin: auto;
}
#logreg-forms .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
#logreg-forms .form-control:focus { z-index: 2; }
#logreg-forms .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#logreg-forms .form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#logreg-forms .social-login{
    width:390px;
    margin:0 auto;
    margin-bottom: 14px;
}
#logreg-forms .social-btn{
    font-weight: 100;
    color:white;
    width:190px;
    font-size: 0.9rem;
}

#logreg-forms a{
    display: block;
    padding-top:10px;
    color:lightseagreen;
}

#logreg-form .lines{
    width:200px;
    border:1px solid red;
}


#logreg-forms button[type="submit"]{ margin-top:10px; }

#logreg-forms .facebook-btn{  background-color:#3C589C; }

#logreg-forms .google-btn{ background-color: #DF4B3B; }

#logreg-forms .form-reset, #logreg-forms .form-signup{ display: none; }

#logreg-forms .form-signup .social-btn{ width:210px; }

#logreg-forms .form-signup input { margin-bottom: 2px;}

.form-signup .social-login{
    width:210px !important;
    margin: 0 auto;
}

/* Mobile */

@media screen and (max-width:500px){
    #logreg-forms{
        width:300px;
        padding: 150px;
    }
    
    #logreg-forms  .social-login{
        width:200px;
        margin:0 auto;
        margin-bottom: 10px;
    }
    #logreg-forms  .social-btn{
        font-size: 1.3rem;
        font-weight: 100;
        color:white;
        width:200px;
        height: 56px;
        
    }
    #logreg-forms .social-btn:nth-child(1){
        margin-bottom: 5px;
    }
    #logreg-forms .social-btn span{
        display: none;
    }
    #logreg-forms  .facebook-btn:after{
        content:'Facebook';
    }
  
    #logreg-forms  .google-btn:after{
        content:'Google+';
    }
    
}