
    <!-- Third part libraries required by Adianti Framework -->
    <script src="lib/jquery/jquery.min.js?afver=507" type="text/javascript"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js?afver=507"></script>
    <script src="lib/bootstrap/js/bootstrap-plugins.min.js?afver=507" type="text/javascript"></script>
    <script src="lib/bootstrap/js/locales/bootstrap-datepicker.pt.js?afver=507" type="text/javascript"></script>
    <script src="lib/bootstrap/js/locales/bootstrap-datetimepicker.pt.js?afver=507" type="text/javascript"></script>
    <script src="lib/bootstrap/js/lang/summernote-pt-BR.min.js?afver=507" type="text/javascript"></script>
    <script src="lib/jquery/jquery-ui.min.js?afver=507" type="text/javascript"></script>
    <script src="lib/jquery/jquery-plugins.min.js?afver=507" type="text/javascript"></script>
    <script src="lib/jquery/select2_locale_pt.js?afver=507" type="text/javascript"></script>
    <script src="lib/jquery/fullcalendar-pt.js?afver=507" type="text/javascript"></script>
    
    <!-- Adianti Framework core and components -->
    <script src="lib/adianti/include/adianti.min.js?afver=507" type="text/javascript"></script>
    <script src="lib/adianti/include/components.min.js?afver=507" type="text/javascript"></script>
    
    <!-- Application custom Javascript (Optional) -->
    <script src="app/lib/include/application.js?appver=507" type="text/javascript"></script>
    
    <!-- Third part CSS required by Adianti Framework -->
    <link href="lib/jquery/jquery-ui.min.css?afver=507" rel="stylesheet" type="text/css" media="screen" />
    <link href="lib/jquery/jquery-plugins.min.css?afver=507" rel="stylesheet" type="text/css" media="screen" />
    <link href="lib/bootstrap/css/bootstrap.min.css?afver=507" rel="stylesheet" type="text/css" media="screen" />
    <link href="lib/bootstrap/css/boostrap-plugins.min.css?afver=507" rel="stylesheet" type="text/css" media="screen" />
    <link href="lib/font-awesome/css/font-awesome.min.css?afver=507" rel="stylesheet" type="text/css" media="screen" />
    
    <!-- Adianti Framework Components CSS -->
    <link href="lib/adianti/include/adianti.min.css?afver=507" rel="stylesheet" type="text/css" media="screen" />
    <link href="lib/adianti/include/components.min.css?afver=507" rel="stylesheet" type="text/css" media="screen" />
    
    <!-- Application custom CSS -->
    <link href="app/templates/{template}/application.css?appver=507" rel="stylesheet" type="text/css" media="screen">

    
